## 0.0 Imports

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
import inflection

### 0.1 Loading Data

In [17]:
df_store_raw = pd.read_csv('stores.csv')
df_features_raw = pd.read_csv('features.csv')


#merge
df_raw = pd.merge(df_store_raw, df_features_raw, on='Store', how='left')

In [18]:
df_raw.sample()

,Store,Type,Size,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
4394,25,B,128107,2010-08-06,71.79,2.784,NaN,NaN,NaN,NaN,NaN,204.729325,7.527,False

## 1.0 Descrição Dos Dados

In [19]:
df1 = df_raw.copy()

In [20]:
df1.columns

Index(['Store', 'Type', 'Size', 'Date', 'Temperature', 'Fuel_Price',
       'MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI',
       'Unemployment', 'IsHoliday'],
      dtype='object')

### 1.1 Rename Columns

In [22]:
cols_old = ['Store', 'Type', 'Size', 'Date', 'Temperature', 'Fuel_Price',
       'MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI',
       'Unemployment', 'IsHoliday']

snakecase = lambda x: inflection.underscore(x)

cols_new = list(map (snakecase, cols_old))

#rename
df1.columns = cols_new

In [23]:
df1.sample()

,store,type,size,date,temperature,fuel_price,mark_down1,mark_down2,mark_down3,mark_down4,mark_down5,cpi,unemployment,is_holiday
6103,34,A,158114,2011-12-16,32.31,3.149,824.88,300.0,226.35,573.1,2966.73,129.898065,10.148,False

### 1.2 Data Dimensions

In [24]:
print('Number of Rows: {}'.format(df1.shape[0]))
print('Number of Cols: {}'.format(df1.shape[1]))

Number of Rows: 8190
Number of Cols: 14

### 1.3 Data Types

In [25]:
df1.dtypes

store             int64
type             object
size              int64
date             object
temperature     float64
fuel_price      float64
mark_down1      float64
mark_down2      float64
mark_down3      float64
mark_down4      float64
mark_down5      float64
cpi             float64
unemployment    float64
is_holiday         bool
dtype: object

### 1.4 Check NA

In [27]:
df1.isna().sum()

store              0
type               0
size               0
date               0
temperature        0
fuel_price         0
mark_down1      4158
mark_down2      5269
mark_down3      4577
mark_down4      4726
mark_down5      4140
cpi              585
unemployment     585
is_holiday         0
dtype: int64

### Fillout Na

In [28]:
df1.dropna(inplace = True)

### 1.6 Change Types

In [32]:
df1['date'] = pd.to_datetime(df1['date'])

### 1.7 Descriptive Statistical

### 1.8 Numerical Attributes

### 1.9 Categorical Attributes

## 2.0 Feature Engineering

###  2.1 Mapa mental de Hipoteses

### 2.2 Feature Engineering
Agente 1

### 2.3 Filtrando Variaveis

## 3.0 Analise Exploratória de Dados

### 3.1 Analise Univariada

### 3.2 Analise Bivariada